<app-navbar></app-navbar>
<ul class="nav nav-tabs nav-fill mt-5">
    <li class="nav-item">
         <a routerLink="star" class="nav-link">Star(for user)</a>
    </li>
    <li class="nav-item">
        <a routerLink="star-list" class="nav-link">Star List</a>
    </li>
    <li class="nav-item">
        <a routerLink="admin/star" class="nav-link">Star</a>
    </li>
    <li class="nav-item">
        <a routerLink="main" class="nav-link">Main</a>
    </li>
    <li class="nav-item">
        <a routerLink="country" class="nav-link">Country</a>
    </li>

</ul>
<div class="border border-top-0 rounded p-5">
    <router-outlet></router-outlet>
</div>
