<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="https://i.pinimg.com/originals/0f/c2/58/0fc2582176008cf53a9c6c8aa46097fd.jpg"
      width="30" height="30" class="d-inline-block align-top" alt=""> Movie Universe</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="" class="nav-link" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Top20</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="catalog" class="nav-link" >Catalog</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/star" class="nav-link" >Star</a>
      </li>
      <li> 
        <a routerLink="star-list" class="nav-link">Stars</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!hasToken()">
        <a routerLink="signup" class="nav-link">Sign up</a>

      </li>
      <li class="nav-item" *ngIf="!hasToken()">
        <a routerLink="login" class="nav-link">Log in</a>
      </li>
      <li class="nav-item" (click)="logOut()" *ngIf="hasToken()">
        <a  class="nav-link">Log out</a>
      </li>

    </ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
  </div>
