<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="container">
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let star of stars">
            <article class="material-card Blue-Grey">
                <h2>
                    <a routerLink="/star/{{star.id}}" style="color: white; text-decoration: none;">
                        <span>{{star.firstName}}&nbsp;&nbsp;{{star.lastName}}</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            <app-profession-view [professionLink]="star.professions"></app-profession-view>
                        </strong>
                    </a>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <app-avatar-view [avatarLink]="star.avatar"></app-avatar-view>
                    </div>
                    <div class="mc-description">
                        {{star.biography}}
                    </div>
                </div>
                <a class="mc-btn-action" (click)="toggle($event);">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
    </div>
</section>