<button (click)="showAllStarsProfessions(professionsLink)" type="button" class="btn btn-success" data-toggle="modal" data-target="#ProfessionProfile">Show star's professions</button>

<div class="modal fade" id="ProfessionProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ProfessionProfile">Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div class="row">
            <div class="form-group col-md-7">
            Professions:
            <tr *ngFor="let profession of professions">
                <th>{{profession.id}}</th>
                <td>{{profession.starProfessionId}}</td>
                <td>{{profession.starProfession}}</td>
                <td>{{professionsLink}}</td>
                <!--<td><button (click)="linkGet(links.id)" type="button" class="btn btn-outline-primary" data-toggle="modal"
                              data-target="#linksModal">Edit</button></td>
                  <td><button (click)="linkDelete(links.id)" type="button" class="btn btn-outline-danger">Delete</button></td>
                  -->
              </tr>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
