<div class="form-group col-md-7">
  Professions:
  <tr *ngFor="let profession of professions">
    <th>{{profession.id}}</th>
    <td>{{profession.starProfessionId}}</td>
    <td>{{profession.starProfession}}</td>
    <td>{{professionsLink}}</td>
    <!--<td><button (click)="linkGet(links.id)" type="button" class="btn btn-outline-primary" data-toggle="modal"
                              data-target="#linksModal">Edit</button></td>
                  <td><button (click)="linkDelete(links.id)" type="button" class="btn btn-outline-danger">Delete</button></td>
                  -->
  </tr>
</div>