<div class="container">
  Poster
  <div>
      <button type="button" style="margin: 5px" class="btn btn-outline-primary" (click)="showPoster(poster.id)">Show</button>
     
      <form>
          <div class="form-group col-md-7">
              <label for="id">Poster id:</label>
              <input type="text" [(ngModel)]="poster.id" id="id" class="form-control" name="id" />
          </div>
          <div class="form-group col-md-7">
              <label for="name">Poster Name:</label>
              <input type="text" [(ngModel)]="poster.name" id="name" class="form-control" name="name" />
          </div>
          <div class="form-group col-md-7">
              <label for="imageUrl">Image URL:</label>
              <input type="text" [(ngModel)]="poster.imageUrl" id="imageUrl" class="form-control" name="imageUrl" />
          </div>

          <div class="form-group col-md-7">
              <label for="movieId">MovieID:</label>
              <input type="text" [(ngModel)]="poster.movieId" id="movieId" class="form-control" name="movieId" />
          </div>
      </form>
     
  </div>
</div>