<div>
  Links:
  <tr *ngFor="let link of links">
    <th>{{link.id}}</th>
    <th>{{link.linkName}}</th>
    <td>{{link.socialNetworkingSite}}</td>
    <td>{{starId}}</td>
    <td><button (click)="linkGet(link.id)" type="button" class="btn btn-outline-primary" data-toggle="modal"
        data-target="#linksModal">Edit</button></td>
    <td><button (click)="linkDelete(link.id)" type="button" class="btn btn-outline-danger">Delete</button></td>

  </tr>
</div>

<div class="modal fade" id="linksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">Link Name:</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="link.linkName" name="linkName" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">socialNetworkingSite:</label>
            <div class="col-sm-8">
              <select class="form-control form-control-lg " [(ngModel)]="link.socialNetworkingSite" name="socialNetworkingSite">
                <option value="FACEBOOK">FACEBOOK</option>
                <option value="INSTAGRAM">INSTAGRAM</option>
                <option value="TWITTER">TWITTER</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="updatePut(link.id)" data-dismiss="modal">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>