<div *ngFor="let star of stars">
  <label>{{star.id}}</label>.
  <label>{{star.firstName}} </label>
  <label>{{star.lastName}}</label>
  <td> <button (click)="getStar(star.id)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button></td>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-7">
          <label for="firstName">First Name:</label>
          <input type="text" [(ngModel)]="star.firstName" name="firsName" class="form-control" />
        </div>

        <div class="form-group col-md-7">
          <label for="lastName">Last Name:</label>
          <input type="text" [(ngModel)]="star.lastName" name="lastName" class="form-control" />
        </div>

        <div class="form-group col-md-7">
          <label for="biography">Bio:</label>
          <input type="text" [(ngModel)]="star.biography" name="biography" class="form-control" />
        </div>

        <div class="form-group col-md-7">
          <label for="birthday">Birthday:</label>
          <input type="text" [(ngModel)]="star.birthday" name="birthday" class="form-control" />
        </div>

        <div class="form-group col-md-7">
          <label for="growth">Growth:</label>
          <input type="text" [(ngModel)]="star.growth" name="growth" class="form-control" />
        </div>

        <div class="form-group col-md-7">
          <label for="cityOfBirth">City of birth:</label>
          <input type="text" [(ngModel)]="star.cityOfBirth" name="cityOfBirth" class="form-control" />
        </div>

        <app-link-of-star *ngIf="star.id" starId = {{star.id}}></app-link-of-star><br>

        <app-link-editor starMovieId={{star.id}}></app-link-editor><br><br>

        <app-countries-of-star starId = {{star.id}}></app-countries-of-star><br>

        <app-country-selector></app-country-selector>

        <app-gallery-of-star galleryLink = {{star.gallery}}></app-gallery-of-star> <br><br>

        <app-avatar-of-star avatarLink = {{star.avatar}}></app-avatar-of-star><br><br>

        <app-professions-of-star professionsLink = {{star.professions}}></app-professions-of-star><br>
        
        <app-profession-edit professionCreateLink = {{star.professions}}></app-profession-edit>

        <app-profession-type-selector></app-profession-type-selector>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateStar(star.id)" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>


<app-gallery-editor></app-gallery-editor>