<!--
<div class="row p-3">
</div>
      <form>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">Email:</label>
            <div class="col-sm-8">
              <input type="email" [(ngModel)]="user.email" name="email" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">Password:</label>
            <div class="col-sm-8">
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">First name:</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="user.firstName" name="firstName" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">Last name:</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" />
            </div>
          </div>
        </form>

        <button type="button" class="btn btn-outline-success ml-auto" (click)="registrate()" data-dismiss="modal">sign up</button>



-->
<div class="wrapper">
  <form #f="ngForm" class="form-signup">
    <h2 class="form-signup-heading">Please sign up</h2>
    <input type="text" class="form-control" id="username" ngModel name="firstName"
           placeholder="First Name" required="" autofocus=""/>
    <input type="text" class="form-control" id="sername" ngModel name="lastName"
           placeholder="Last Name" required="" autofocus=""/>
    <input type="text" class="form-control" id="email" ngModel name="email"
           placeholder="Email" required="" autofocus=""/>
    <input type="password" class="form-control" id="password" ngModel name="password" placeholder="Password"
           required=""/>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signupGeneral(f)">Sign up</button>
  </form>
</div>
