<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/Q0CbN8sfihY?
     controls=0&showinfo=0&rel=0&autoplay=1&loop=1
     &playlist=Q0CbN8sfihY&mute=1"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
  <div class="movie-info border-left text-light w-50 p-5">
    <h1 class="m-2">Star Wars: The Last Jedi Trailer</h1>
    <p class="m-2">December 15, 2017</p>
    <div class="wrapper">
      <label for="button">more...</label>
      <input type="checkbox" id="button">
      <div class="xpandable-block">
        <p class="m-2">Following the battle of Starkiller Base, General Leia Organa leads Resistance forces to flee
          D'Qar
          when a First Order fleet arrives. Poe Dameron leads a costly counterattack that destroys a First Order
          dreadnought, but after the Resistance escapes to hyperspace, the First Order tracks them and attacks the
          Resistance convoy. Kylo Ren, Leia's son, hesitates to fire on the lead Resistance ship after sensing his
          mother's
          presence, but his wingmen destroy the bridge, killing most of the Resistance leadership and incapacitating
          Leia,
          who survives by using the Force. Disapproving of new leader Vice Admiral Holdo's passive strategy, Poe helps
          Finn, BB-8, and mechanic Rose Tico embark on a secret mission to disable the First Order's tracking device.</p>
      </div>
    </div>
  </div>
</div>